@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    /*Configuração tablet*/
    body{
        background-image: linear-gradient(to bottom, #674F33 ,#441600);
    }
    section#login{
        width: 80vw;
    }
    div#form{
        transform: translateY(40%)
    }
    section#login div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login div#form{
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) {
    /*Configuração telas grandes*/
    body{
        background-image: linear-gradient(to bottom, #674F33 ,#441600);
    }
    section#login{
        width: 900px;
        
    }
    div#form{
        transform: translateY(30%);
    }
    section#login div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login div#form{
        float: left;
        width: 50%;
    }
    div#form h1{
        font-size: 1.8em;
    }
    div#form p{
        font-size: 1.1em;
    }
}